header > span {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    font-size: 1.2rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

nav > a {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav > a:hover {
    background: white;
    color: #093e47;
}

.content-grid {
    display: grid;
    grid-template-areas:
        "heading heading"
        "about webdev";
    gap: 1rem;
    padding-top: 1.5rem;
}

.heading {
    grid-area: heading;
}

.about {
    grid-area: about;
}

.webdev {
    grid-area: webdev;
    width: 420px;
}

.webdev-links {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 40%;
}

.card {
    border-radius: 0.5rem;
    border: 2px solid #0e5e6f;
    line-height: 1.75rem;
}

.card-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #0e5e6f;
}

.card-heading>h2{
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
}

.separator{
    width: 80%;
}

footer {
    margin-top: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-img {
    float: left;
    margin: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 8px 16px #0e5e6f88;
}

/**
    Colors
*/
.bg-primary {
    background-color: #0e5e6f;
}

.bg-primary-dark {
    background-color: #093e47;
}

.bg-primary-light {
    background-color: #3a8897;
}

.text-white {
    color: white;
}

.text-secondary {
    color: #ffc940;
}

/**
    Layout
*/
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.d-block {
    display: block;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 1.5rem;
}

.p3 {
    padding: 2rem;
}

.text-center {
    text-align: center;
}

/**
    Typography
*/
body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.font-heading {
    font-family: "League Spartan", sans-serif;
}

.bold {
    font-weight: bold;
}

.text-lg {
    font-size: 1.375rem;
}

.italic {
    font-style: italic;
}

nav > a {
    text-decoration: none;
    color: white;
}
